<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book 1</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>

<div>
 <a href="/"><button>Regresar</button> </a>

</div>

   <table>
       <tr>
     <th>Id</th>
     <th>Title</th>
     <th>Edition</th>
     <th>Copyright</th>
     <th>Language</th>
     <th>Pages</th>
     <th>Author</th>
     <th>Publisher 1</th>
     <th>Operating System</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Concepts</td>
        <td>9th</td>
        <td>2012</td>
        <td>ENGLISH</td>
        <td>976</td>
        <td>Abraham Silberschatz</td>
        <td>John Wiley & Sons 2</td>
        <td>Database System</td>
    </tr>
   </table>
</body>
</html>